<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Ah mon dieu, tu as tout cassé: {{ status_text }}</title>
  </head>
  <body>
    <h2>Espèce d'erreur "{{ status_code }} qui me dit que {{ status_text }}".</h2>

    <div>
      Ché caché
    </div>
  </body>
</html>